Игра БлэкДжек.
Кратки правила и сведения о ревью.
карточная игра против диллера.
Стартовый баланс: 10000
В начале нужно выбрать ставку.
После подтвердить её.
После подтверждения начнется игра.
Вам и диллеру дадут две карты.
Вес карт: 
1) от 2 до 10 в соотвествии с номером карты
2) J, Q, K весят по 10
3) туз(A) может весить 1, либо 11 если при этом не будет перебор(сумарный вес больше 21)
После, вы можете сделать дабл или попросить ещё карт.
Дабл - взять одну карту и увеличить ставку в два раза, брать дополнительные карты после нельзя
Сумарный вес - сумма весов карт
Возможные исходы:
Победа: Если ваш сумарные вес больше сумарного веса диллера и он не больше 21
Проигрышь: Если ваш сумарный вес меньше сумарног веса диллера
Ничья: Если сумарные весы игрока и диллера равны, или у обоих больше 21

Куш: удвоеная сумма от ставки.
